
.DS_Store
.RData
.Rproj.user
*.Rproj
.Rhistory
manuscript/figures/median_TPM_MDS/median_tpm_by_qtlgroups.html
manuscript/figures/median_TPM_MDS/median_tpm_MDS.pdf
manuscript/figures/novel_colocs/data
manuscript/figures/novel_colocs/plots
manuscript/figures/novel_colocs/09*